.star{
    background-color:lavender;
}
.give{
    background-color: lavender;
}
.edit{
    background-color: lawngreen;
}
.add{
    background-color:url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fall-free-download.com%2Ffree-photos%2Fhd-beach-sea-sky.html&psig=AOvVaw0fDdRhwFAx2YV35af2JVCF&ust=1620557615224000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCNDGiof2ufACFQAAAAAdAAAAABAD");
}